<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/side-css/side-style-sheet.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body class="bg-admin-panel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto p-0 pt-5 text-center sticky-top shadow-lg bg-blur-lg">
                <a class="btn anim-grow text-light" href="#">
                    <span class="fa fa-hands-helping fa-4x"></span>
                </a>
                <ul class="nav nav-pills flex-column my-5 p-3">
                    <li class="nav-item py-3">
                        <a class="btn anim-grow text-light" href="">
                            <span class="fa fa-users fa-2x"></span>
                            <h6 class="mt-2">Users</h6>
                        </a>
                    </li>
                    <li class="nav-item py-3">
                        <a class="btn anim-grow text-light" href="">
                            <span class="fa fa-box-open fa-2x"></span>
                            <h6 class="mt-2">Products</h6>
                        </a>
                    </li>
                    <li class="nav-item py-3">
                        <a class="btn anim-grow text-light" href="">
                            <span class="fa fa-layer-group fa-2x"></span>
                            <h6 class="mt-2">Categories</h6>
                        </a>
                    </li>
                    <li class="nav-item py-3">
                        <a class="btn anim-grow text-light" href="">
                            <span class="fa fa-flag fa-2x"></span>
                            <h6 class="mt-2">Reports</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm p-3 min-vh-100">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
