<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/side-css/side-style-sheet.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg py-4 fixed-top bg-light shadow">
            <div class="container justify-content-end">
                <div class="mx-auto">
                    <a class="navbar-brand text-primary" href="#">
                        @*Hand-Out*@
                       <span class="fa fa-hands-helping" style="font-size:50px;"></span>
                    </a>
                </div>
                <button class="navbar-toggler"></button>
                <div class="navbar-collapse">
                    <div class="w-75 mx-3">
                        <form class="d-flex">
                            <input class="form-control" type="search" placeholder="Search" />
                            @*<button class="btn btn-outline-light" type="submit">
                                    <span class="fa fa-search"></span>
                                </button>*@
                        </form>
                    </div>
                    <div class="mx-auto">
                        <ul class="navbar-nav">
                            <li class="nav-item me-1">
                                <a class="btn btn-outline-danger" href="#">Post</a>
                            </li>
                            <li class="nav-item mx-1">
                                <a class="btn btn-outline-success" href="#">Messages</a>
                            </li>
                            <li class="nav-item dropdown ms-1">
                                <a class="btn btn-outline-warning dropdown-toggle" href="#" data-bs-toggle="dropdown">Profile</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item">Profile</a></li>
                                    <li><a class="dropdown-item">Notifications</a></li>
                                    <li><a class="dropdown-item">Sing Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
</body>
</html>