<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        Hand-Out
    </title>

    <!-- jQuery Libraries -->
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
    <!-- Custom CSS Files -->
    <link href="~/side-css/side-style-sheet.css" rel="stylesheet" />



    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>


</head>

<body class="">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute mt-3 mb-5 py-2 start-0 end-0 mx-4">
                    <div class="container-fluid">
                        <a asp-controller="Home" asp-action="Index" class="navbar-brand font-weight-bolder ms-lg-0 ms-3 ">
                            Hand-Out
                        </a>
                        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mt-2">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse" id="navigation">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="Index" class="nav-link d-flex align-items-center me-2 active" aria-current="page">
                                        <i class="fa fa-home opacity-6 text-dark me-1"></i>
                                        Home
                                    </a>
                                </li>
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item">
                                            <a asp-controller="User" asp-action="Details" asp-route-id="" class="nav-link me-2">
                                                <i class="fa fa-user opacity-6 text-dark me-1"></i>
                                                Profile
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Message" asp-action="Index" class="nav-link">
                                                <i class="fa fa-comment-dots opacity-6 text-dark me-1"></i>
                                                Messages
                                            </a>
                                        </li>
                                        if (User.IsInRole("Admin"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="User" asp-action="Index" asp-area="AdminPanel" class="nav-link me-2">
                                                    <i class="fa fa-user-ninja opacity-6 text-dark me-1"></i>
                                                    Admin Dashboard
                                                </a>
                                            </li>
                                        }
                                        <li class="nav-item">
                                            <a asp-controller="User" asp-action="SignOut" class="nav-link me-2">
                                                <i class="fa fa-sign-out opacity-6 text-dark me-1"></i>
                                                Sign Out
                                            </a>
                                        </li>
                                    }
                                }
                                @{
                                    else
                                    {
                                        <li class="nav-item">
                                            <a asp-controller="User" asp-action="SignUp" class="nav-link me-2">
                                                <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                                                Sign Up
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="User" asp-action="SignIn" class="nav-link">
                                                <i class="fas fa-key opacity-6 text-dark me-1"></i>
                                                Sign In
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
        </div>
    </div>
    @RenderBody()


    <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    @{ if (!ViewData["Title"].Equals("Message/Index") && !ViewData["Title"].Equals("Product/Edit"))
        {
            <footer class="footer py-5">
                <div class="container">
                    <div class="row">
                        @*<div class="col-lg-8 mb-4 mx-auto text-center">
                            <a href="" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                Company
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                Linkedin
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                Team
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                Products
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                Blog
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                Pricing
                            </a>
                        </div>*@
                        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
                            <a href="https://www.linkedin.com/in/usame-kilicbay/" target="_blank" class="text-secondary me-xl-4 me-4">
                                <span class="text-lg fab fa-linkedin"></span>
                            </a>
                            <a href="https://github.com/usamekilicbay" target="_blank" class="text-secondary me-xl-4 me-4">
                                <span class="text-lg fab fa-github"></span>
                            </a>
                            <a href="https://stackoverflow.com/users/9929196/usame-kilicbay" target="_blank" class="text-secondary me-xl-4 me-4">
                                <span class="text-lg fab fa-stack-overflow"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 mx-auto text-center mt-1">
                            <p class="mb-0 text-secondary">
                                Copyright ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script> Soft by Creative Tim, Developed by Usame Kilicbay
                            </p>
                        </div>
                    </div>
                </div>
            </footer> } }
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <!--   Core JS Files   -->
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
</body>

</html>



@*<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost:44888/chathub")
        .withAutomaticReconnect()
        .build();

    $(document).ready(function () {
        console.log(connection.state);

        if (connection.state !== connection.on) {
            startConnection();
            console.log(connection.state + "   2");
        }

        async function startConnection() {
            try {
                await connection.start();
            } catch (error) {
                setTimeout(() => connection.start(), 2000);
            }
        }
    });
</script>*@