@{
    ViewData["Title"] = "AccessDenied";
}

<div class="d-flex vh-100 max-height-vh-70">
    <div class="col-6 mx-auto my-auto">
        <h1 class="text-center text-danger">Access Denied</h1>
        <h3>
            You do not have the required role to see this page.
            You can go to
            <a class="text-decoration-underline text-info" asp-action="Index">home</a>
            page.
        </h3>
    </div>
</div>