<div class="container-fluid mt-5">
    <div class="container">
        <ul class="nav nav-justified text-light">
            <li class="nav-item me-2">
                <a class="card-link text-white" href="#">
                    <div class="category-card shadow rounded-3 anim-grow bg-primary">
                        <span class="fa fa-couch" style="font-size:30px;"></span>
                        <h6 class="mt-4">Furniture</h6>
                    </div>
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="card-link text-white" href="#">
                    <div class="category-card shadow rounded-3 anim-grow bg-primary">
                        <span class="fa fa-book" style="font-size:30px;"></span>
                        <h6 class="mt-4">Stationary</h6>
                    </div>
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="card-link text-white" href="#">
                    <div class="category-card shadow rounded-3 anim-grow bg-primary">
                        <span class="fa fa-tv" style="font-size:30px;"></span>
                        <h6 class="mt-4">Electronic</h6>
                    </div>
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="card-link text-white" href="#">
                    <div class="category-card shadow rounded-3 anim-grow bg-primary">
                        <span class="fa fa-football-ball" style="font-size:30px;"></span>
                        <h6 class="mt-4">Sport</h6>
                    </div>
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="card-link text-white" href="#">
                    <div class="category-card shadow rounded-3 anim-grow bg-primary">
                        <span class="fa fa-tshirt" style="font-size:30px;"></span>
                        <h6 class="mt-4">Cloth</h6>
                    </div>
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="card-link text-white" href="#">
                    <div class="category-card shadow rounded-3 anim-grow bg-primary">
                        <span class="fa fa-blender" style="font-size:30px;"></span>
                        <h6 class="mt-4">Appliance</h6>
                    </div>
                </a>
            </li>
            <li class="nav-item ms-2">
                <a class="card-link text-white" href="#">
                    <div class="category-card shadow rounded-3 anim-grow bg-primary">
                        <span class="fa fa-tools" style="font-size:30px;"></span>
                        <h6 class="mt-4">Hardware</h6>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>