
@{
    ViewData["Title"] = "Message/Index";
}

<head>
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script>
        $(function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("http://localhost:44888/chathub")
                @*.withUrl("http://localhost:5000/chathub")*@
                .withAutomaticReconnect()
                .build();

            async function startConnection() {
                try {
                    await connection.start();
                } catch (error) {
                    setTimeout(() => connection.start(), 2000);
                }
            }

            startConnection();

            const messageArea = $("#message-area");

            $("#message-send-btn").click(() => {
                let messageBox = $("#message-box");
                let messageContext = messageBox.val();

                if (!messageContext) {
                    return;
                }

                messageBox.val("");
                connection.invoke("SendMessageAsync", messageContext);
                messageArea.append($($("#sent-message-bubble").html()));
                $(".sent-message-bubble .message-content:last").text(messageContext);
            });

            connection.on("receiveMessage", messageContext => {
                messageArea.append($("#received-message-bubble").html());
                $(".received-message-bubble .message-content:last").text(messageContext);
            })
        });
    </script>
</head>


<script type="text/html" id="sent-message-bubble">
    <div class="sent-message-bubble d-flex my-1 ms-5 justify-content-end">
        <div class="card d-inline-block float-end py-2 ps-3 pe-4 rounded-3 border text-dark">
            <p class="message-content mb-1 text-end"></p>
            <p class="mb-0 text-secondary text-xs">20:04</p>
        </div>
    </div>
</script>

<script type="text/html" id="received-message-bubble">
    <div class="received-message-bubble d-flex my-2 me-5">
        <div class="card d-inline-block py-2 ps-3 pe-4 rounded-3 bg-gradient-dark text-white">
            <p class="message-content mb-1"></p>
            <p class="mb-0 text-secondary text-xs text-end">20:04</p>
        </div>
    </div>
</script>

<div class="container pt-8">
    <div class="row">
        <div class="col-lg-4">
            <div class="card max-height-vh-80 vh-100 shadow-lg">
                <div class="card-header p-3 border-bottom">
                    <h6 class="mb-0">Messages</h6>
                </div>
                <div class="card-body py-0 px-md-3 overflow-auto">
                    <ul class="list-group">
                        @{ for (int i = 0; i < 40; i++)
                            {
                                <li class="list-group-item border-0 d-flex align-items-center px-0 my-1">
                                    <div class="avatar me-3">
                                        <img src="../assets/img/kal-visuals-square.jpg" alt="kal" class="border-radius-lg shadow">
                                    </div>
                                    <div class="d-flex align-items-start flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">Sophie B.</h6>
                                        <p class="mb-0 text-xs">Hi! I need more information..</p>
                                    </div>
                                    <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">Reply</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 d-lg-block d-none" id="chat">
            <div class="card max-height-vh-80 vh-100 shadow-lg py-3 px-lg-5 px-1">
                <div class="card-header d-flex border-bottom border-dark">
                    <div class="d-flex col-1 d-lg-none me-md-3 me-1">
                        <button class="btn shadow-none mb-0 p-0">
                            <span class="fa fa-arrow-left fa-lg"></span>
                        </button>
                    </div>
                    <div class="d-flex col">
                        <div class="avatar me-lg-3 me-1">
                            <img src="../assets/img/kal-visuals-square.jpg" alt="kal" class="border-radius-lg shadow">
                        </div>
                        <div class="d-flex align-items-start flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Sophie B.</h6>
                        </div>
                    </div>
                    <div class="d-flex col justify-content-end">
                        <div class="my-auto me-2">
                            <h6 class="mb-0 text-sm">Desk</h6>
                        </div>
                        <div class="avatar">
                            <img src="../assets/img/home-decor-1.jpg" alt="kal" class="border-radius-lg shadow h-100">
                        </div>
                        <a class="my-auto ms-lg-5 ms-2">
                            <span class="fa fa-ellipsis-v fa-lg"></span>
                        </a>
                    </div>
                </div>
                <div id="message-area" class="card-body p-3 overflow-auto">
                </div>
                <div class="card-footer">
                    <div class="input-group shadow-lg">
                        <input type="text" id="message-box" class="form-control border-0" />
                        <button type="button" id="message-send-btn" class="btn btn-dark mb-0 shadow-none">
                            <span class="fa fa-send text-light"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>